body {
    text-align: center;
    background: #010101;
    color: #aaa;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    padding: 1em;
    text-align: left;
    border: solid 2px #554455;
    margin: 23px auto;
    background: #0d0d0d;
    border-radius: 3px;
}

.cabecera {
    border-radius: 3px;
    font-weight: bold;
    padding: 12px 20px;
    background: #090909;
    font-size: 3em;
    box-shadow: 1px 4px 12px 10px rgba(0 0 0 / 1);
    border: solid 1px #5544559a;
}

.tagline {
    padding: 0 0 0 1em;
    font-size: .6em;
}

h1 {
    font-size: 3.2em;
}

p {
    font-size: 1.5em;
}

p:last-child  {
    color: #ecc;

}

p:last-child span {
    color: #c00;
    text-transform: uppercase;
}

.img {
    text-align: center;
}

img {
    height: 300px;
    width: 400px;
    object-fit: cover;
}


.caja {
    text-align: center;
}
.caja h2 {
    font-size: 2.7em;
    margin: 10px;
}

.caja img:nth-child(2) {
    margin-right: 10px;
}